<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Logging" />
  </elmah>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=aue1t1z1rdidotnetdb.ctd3rqxixqlg.us-east-1.rds.amazonaws.com;Initial Catalog=Logging;user id=MatrixClientNotifica;password=MCNotif~xm#h88_T;Connect Timeout=30;TrustServerCertificate=True;Network Library=dbmssocn;Application Name=MatrixClientNotification" providerName="System.Data.SqlClient" />
    <add name="SecurityEntities" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aue1t1z1rdidotnetdb.ctd3rqxixqlg.us-east-1.rds.amazonaws.com;initial catalog=MLS;user id=MatrixClientNotifica;password=MCNotif~xm#h88_T;MultipleActiveResultSets=True;App=MatrixClientNotification&quot;" providerName="System.Data.EntityClient" />
    <add name="BrightDataEntities" connectionString="metadata=res://*/BrightData.csdl|res://*/BrightData.ssdl|res://*/BrightData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aue1t1z1rdidotnetdb.ctd3rqxixqlg.us-east-1.rds.amazonaws.com;initial catalog=TST_BRIGHT_DATA;persist security info=True;user id=MatrixClientNotifica;password=MCNotif~xm#h88_T;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="JobCode" value="MEMBERNOTEASAP" />
    <add key="PortalNotificationTestMode" value="true" />
    <add key="PortalNotificationTestModeRecipients" value="steven.hostetter@brightmls.com" />
    <add key="PortalNotificationOnlySubscriberID" value="" />
    <add key="PortalNotificationOnlySubscriberIDDate" value="8/22/2017 9:15:00 AM" />
    <!-- since Bright job servers are in a different time zone than corelogic ones, we need to account for time difference between job server and corelogic server -->
    <add key="timeDiffInHours" value="3" />
    <!-- EasyMail -->
    <add key="Quiksoft.EasyMail.NetEdition3.License.Key" value="Trend (Unlimited Developer)/5692590F355690781250FCCB35C04E142" />
    <add key="EasyMail.SMTP.MailServer" value="aue1p1mtxeo.prd.brightmls.com" />
    <add key="EasyMail.SMTP.LogFile" value="C:\EasyMailLogs\BrightMls\SmtpExpressProFailures.log" />
    <add key="SMTPServer" value="aue1p1mtxeo.prd.brightmls.com" />
    <add key="SMTPFrom" value="donotreply@brightmls.com" />


    <!-- Matrix -->
    <add key="MatrixWebApiUrl" value="https://matrixdata.tst.brightmls.com/MatrixWebAPI/" />
    <add key="SystemUserName" value="System_Member" />
    <add key="SystemUserPassword" value="Yousayyouw@ntaR3volution!" />
    <!-- MDS -->
    <add key="LocalIpAddressOverride" value="69.141.75.101" />
    <!-- keep empty unless you want to fake IP address -->
    <add key="BrightNetworkFirstIpOctets" value="10.144.,10.148.,10.163.,10.162.,10.171.,10.161.,10.169." />
    <add key="MdsSystemUser" value="SYSADMIN_PERMISSIONS" />
    <add key="MdsServiceUrl" value="https://lmsapi.tst.brightmls.com/services/rest" />
    <add key="MdsSessionCookieDomain" value=".mris.com" />
    <!-- UserAgent and Salt may vary per application -->
    <add key="UserAgent" value="Permissions/1.0" />
    <add key="Salt" value="G0mgAijPPxwGyHjVKU6b" />
    <!-- common values for email template -->
    <add key="unsubscribeUrl" value="https://applications.tst.brightmls.com/listingEmail/Unsubscribe/ClientNotifications?contactId=[[CONTACT_ID]]&amp;subscriberId=[[AGENT_MEMBER_MLS_ID]]&amp;emailAddress=[[CONTACT_EMAIL]]" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>